h1 {
  display: block;
  margin: 0;
  padding-top: 80px;
  font-family: Fredericka the Great;
  font-size: 3rem;
  color: #3a76c7;
}

h2 {
  font-family: Padauk;
  font-size: 3rem;
  font-weight: normal;
  color: #598bcf;
}

h3 {
  color: #3a76c7;
  display: block;
  margin: 0;
  font-family: Padauk;
  font-weight: normal;
  font-size: 1.5rem;
}

p {
  font-family: Roboto Slab;
  font-size: 1.2rem;
}

body {
  margin: 0;
  text-align: center;
}

hr {
  border-style: dotted none none;
  border-width: 7px;
  border-color: #c38b8b;
  margin-bottom: 100px;
  width: 4%;
}

.top-container {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(163,196,255,1) 0%, rgba(209,235,255,1) 71%, rgba(255,218,205,1) 100%);
}

.cloud1 {
  display: block;
  top: 50px;
  left: 1200px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.cloud2 {
  display: block;
  position: relative;
  padding-top: 75px;
  left: 600px;
}

.profile-pic {
  margin-top: 150px;
  width: 15%;
  border-radius: 100%;
}

.profile-text {
  color: #40514E;
  line-height: 1.5;
  margin: auto auto 100px;
  width: 450px;
}


.skill-row {
  margin: 100px auto 0;
  text-align: left;
  width: 900px;
}

.porridge {
  width: 200px;
  float: left;
  margin-right: 30px;
}

.tetris {
  width: 200px;
  float: right;
}

.contact-me {
  text-align: center;
}

.spacer {
  clear: both;
  height: 50px;
}

.button {
  border-radius: 15%;
  background-color: #598bcf;
  height: 40px;
  width: 200px;
}
