h1 {
  display: block;
  margin: 0;
  padding-top: 80px;
  font-family: Fredericka the Great;
  font-size: 3rem;
  color: white;
  line-height: 2;
}

h2 {
  font-family: Roboto Mono;
  font-size: 2rem;
  font-weight: normal;
  color: white;
}

h3 {
  display: block;
  margin: 0;
  padding-bottom: 40px;
  font-family: Roboto Mono;
}

p {
  font-family: Roboto Slab;
}

body {
  margin: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(231, 115, 168, 1) 0%, rgba(143, 152, 201, 1) 66%, rgba(149, 255, 248, 1) 100%);
  text-align: center;
}

.cloud1 {
  display: block;
  top: 50px;
  left: 1200px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.cloud2 {
  display: block;
  position: relative;
  padding-top: 75px;
  left: 600px;
}

.profile-pic {
  margin-top: 100px;
  width: 20%;
  border-radius: 100%;
}

.top-container {
  width: 200px;
  height: 200px;
  background-color: blue;
}

a {
  color: #11999E;
}
